//
//   @snack
// ---------------------------------------------------------
//  _5_pages/_snack.scss
// ---------------------------------------------------------
//
//  Snack page specific styles.
//
// ---------------------------------------------------------




.snack-header {
  background-color: color('cool-red', 'lightest');
  background-image: linear-gradient(168deg, color('cool-red', 'lightest') 49.95%, color('brown', 'lightest') 50.05%);
  color: color('brown', 'dark');
}

@media #{query('m', 'max')} {
  .snack-header {
    background-color: transparent !important;
    background-image: none !important;
    padding-top: 0 !important;
    position: relative;
  }

  .snack-header::after {
    background: color('gray', 'dark');
    content: '';
    height: 1px;
    left: spacing('m');
    position: absolute;
    right: spacing('m');
    top: 100%;
  }
}

@media #{query('s', 'max')} {
  .snack-header::after {
    left: spacing('xs');
    right: spacing('xs');
  }
}

.snack-header > .container {
  @media #{query('m', 'max')} {
    max-width: none;
    padding: 0;
  }
}

.snack-header > .container .container {
  @media #{query('m')} {
    max-width: none;
    padding: 0;
  }
}

.snack-header__images {
  background-color: color('cool-red', 'lightest');
  background-image: linear-gradient(168deg, color('cool-red', 'lightest') 49.95%, color('brown', 'lightest') 50.05%);
  padding: (rem(176) + spacing('m')) 10% spacing('xl');

  @media #{query('m')} {
    background-color: transparent !important;
    background-image: none !important;
    display: inline-block;
    padding: 0 $gutter*2 0;
    vertical-align: top;
    width: 60%;
  }
}

  .snack-header__carousel {
  }

  .snack-header__image {
    width: 100%;
  }

  .snack-header__image img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
  }

  @media #{query('m')} {
    .snack-header__carousel .flickity-page-dots {
      margin-right: 40px;
      right: 100%;
      text-align: left;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
    }

    .snack-header__carousel .flickity-page-dots .dot {
      margin: 4px 0
    }
  }

.snack-header__details {
  margin: spacing('s') 0 0;

  @media #{query('m')} {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 40%;
  }
}

.snack-header__title {
  @include serif-xl;
  @include font-size('ms');

  line-height: 1;
  text-transform: uppercase;

  @media #{query('m')} {
    color: inherit !important;
  }

  @media #{query('xl')} {
    font-size: rem(40);
  }
}

.snack-header__subtitle {
  @include serif-s;
  @include font-size('ms');

  line-height: 1;
  text-transform: uppercase;

  @media #{query('xl')} {
    font-size: rem(40);
  }
}

.snack-header__text {
  @include font-size('s');
  @include margin-container;
  @include spacing('s', 'margin', 'both');

  @media #{query('s', 'max')} {
    @include serif-s;
  }

  @media #{query('xl')} {
    font-size: rem(24);
  }
}

@media #{query('m')} {
  .snack-header__details::before {
    content: '';
    display: block;
    height: 0;
    padding-top: 20%;
    width: 100%;
  }
}

.snack-header__buy {
  @media #{query('s', 'max')} {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}




.snack__nutrition {
  color: color('brown', 'dark');
}


.snack__item {
  @include spacing('m');
}

.snack__subtitle {
  @include serif-s;
  @include font-size('ms');

  text-transform: uppercase;
}

.snack__text {
  @include serif-s;
  @include font-size('xs');
  @include margin-container;
}

.snack__ingredients {
  @media #{query('m')} {
    columns: 2 200px;
    column-gap: $gutter;
    display: block !important;
  }
}

.snack__nutrition .js-toggle-trigger {
  @extend .snacks__title;

  background: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  display: block;
  margin-top: rem(45);
  padding-left: 0;
  padding-right: spacing('m');
  padding-top: 0;
  position: relative;
  text-align: left;
  width: 100%;

  @media #{query('m')} {
    display: none;
  }
}

.snack__nutrition .js-toggle-trigger:hover,
.snack__nutrition .js-toggle-trigger:focus {
  color: color('gray');
  opacity: 1;
}

.js-toggle-trigger span {
    border: 1px solid currentColor;
    border-radius: 50%;
    display: block;
    height: 1em;
    right: 0;
    position: absolute;
    top: .15em;
    width: 1em;
}

.js-toggle-trigger span::before,
.js-toggle-trigger span::after {
    background: currentColor;
    content: '';
    height: 1px;
    left: 28%;
    position: absolute;
    top: 50%;
    transition: all .3s ease-in-out;
    width: 44%;
}

.js-toggle-trigger span::after {
    transform: rotate(90deg);
}
.js-toggle-trigger.is-active span::after {
    opacity: 0;
}


.intro-link {
      float: left;
      width:100%;
      margin-bottom: 2em;
}

.bites h2, .crisps h2 {
   @include serif-xl;
  @include font-size('ml');
    text-align:center;
    max-width:800px;
    margin: 0 auto 1em;
}


.snack__title {
  @include serif-s;
  @include font-size('ml');
  @include spacing('m');

  line-height: 1.5;
  text-transform: uppercase;
  color:#5d3328;
  border-bottom: 1px solid #5d3328;
}

.store__image {
  margin: 1em 0;
}
