<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="site-main">



      {% if page.carousel_slides.size > 0 %}
      {% include carousel.html %}
      {% endif %}

      <section class="section snacks js-scrolled-trigger snacks__section-anchor" name="ancient-grain">
        <div class="container">
          <a class="snack__section-anchor" name="ancient-grain">

<h2 class="snack__title">{{page.crisp-title}}</h2>
</a>
          <ul class="snacks__list grid">
            {% for snack in site.snacks %}

      {% if snack.tags contains "new" %}
            <li class="snacks__item grid__item medium--one-third">
  {% assign sub_header = snack.sub_header | downcase | rstrip %}
  {% if sub_header == "coming soon" %}
  <div class="snacks__link snacks__link--gray">
  {% else %}
  <a href="{{ snack.url }}" class="snacks__link">
  {% endif %}
    <div class="snacks__image-wrap">
      <img src="{% if snack.main_image != '' %}{{ snack.main_image }}{% else %}/images/placeholder.png{% endif %}" alt="{{ snack.title }}" class="snacks__image">
      {% if snack.hover_image != '' %}
      <div class="snacks__image-hover" style="background-image: url('{{ snack.hover_image }}');"></div>
      {% endif %}
    </div>
    <h3 class="snacks__header"{% if snack.primary_color != '' %} style="color: {{ snack.primary_color }};"{% endif %}>{{ snack.title }}</h3>
    <h4 class="snacks__subheader">{{ snack.sub_header }}</h4>
  {% if sub_header == "coming soon" %}
  </div>
  {% else %}
  </a>
  {% endif %}
     {% endif %}
  {% endfor %}
</li>

          </ul>
        </div>
      </section>
   


      <section class="section snacks js-scrolled-trigger">
        <div class="container">
          <a class="snack__section-anchor" name="granola">

          <h2 class="snack__title">{{page.granola-title}}</h2>
        </a>
          <ul class="snacks__list grid">
           {% for snack in site.snacks %}

      {% if snack.tags contains "legacy" %}
            <li class="snacks__item grid__item medium--one-third">
  {% assign sub_header = item.sub_header | downcase | rstrip %}
  {% if sub_header == "coming soon" %}
  <div class="snacks__link snacks__link--gray">
  {% else %}
  <a href="{{ snack.url }}" class="snacks__link">
  {% endif %}
    <div class="snacks__image-wrap">
      <img src="{% if snack.main_image != '' %}{{ snack.main_image }}{% else %}/images/placeholder.png{% endif %}" alt="{{ snack.title }}" class="snacks__image">
      {% if item.hover_image != '' %}
      <div class="snacks__image-hover" style="background-image: url('{{ snack.hover_image }}');"></div>
      {% endif %}
    </div>
    <h3 class="snacks__header"{% if snack.primary_color != '' %} style="color: {{ snack.primary_color }};"{% endif %}>{{ snack.title }}</h3>
    <h4 class="snacks__subheader">{{ snack.sub_header }}</h4>
</a>
     {% endif %}
  {% endfor %}
</li>

          </ul>
        </div>
      </section>
   

    </main>

    {% include footer.html %}

  </body>

</html>